.main__container {

    margin-top: 60px;

    display: flex;


}

.products__container {

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 3em;
    
    padding: 1em;
    margin: 1em;
}
.caregory{
    justify-content: flex-start;
}

